h1 a {
    color: #c2cad0;
}
body {
    padding-left: 5vw;
    padding-right: 5vw;
}
img {
    max-width: 70vw;
    height: auto;
}
.page-header {
    background-color: #e7717d;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}
.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    font-family: 'Source Sans Pro', sans-serif;    
    color: #c2cad0;
    font-size: 36pt;
    text-decoration: none;
}
.content {
    margin-left: 40px;
}
h1, h2, h3, h4 {
    font-family: 'Source Sans Pro', sans-serif;
}
.date {
    color: #c2cad0;
}
.save {
    float: right;
}
.post-form textarea, .post-form input {
    width: 100%;
}
.top-menu, .top-menu:hover, .top-menu:visited {
    color: #c2b9b0;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}
.post {
    max-width: 70vw;
    font-family: 'PT Serif', sefif;1
    margin-bottom: 70px;
}
.post h1 a, .post h1 a:visited {
    color: #c2cad0;
	    }

.comment {
    margin: 20px 0px 20px 20px;
}

